.blogs {
    text-align: center;
}

.blog-card {
    margin: 16px;
    width: 300px;
    height: 260px;
    border: none;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 6px 6px 6px -6px white;
    outline: none;
    cursor: pointer;
    background: none;
    color: white;
}

.blog-image {
    width: 100%;
}