.top-bar {
    text-align: center;
}

.top-bar-logo {
    width: 100%;
    max-width: 600px;
    margin: 16px 0;
}

.logo-horizontal {
    display: block;
}

.logo-vertical {
    display: none;
}

@media (max-width: 650px) {
    .top-bar-logo {
        width: 100%;
    }

    .logo-horizontal {
        display: none;
    }

    .logo-vertical {
        display: block;
    }
}