:root {
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 600;
    font-size: 60px;
    margin: 16px 0;
}

h2 {
    font-weight: 500;
    font-size: 48px;
    margin: 24px 0;
}

h3 {
    font-weight: 500;
    font-size: 36px;
    margin: 16px 0;
}

h4 {
    font-weight: 400;
    font-size: 24px;
    margin: 12px 0;
}

h5 {
    font-weight: 300;
    font-size: 20px;
    margin: 8px 0;
}

h6 {
    font-weight: 200;
    font-size: 16px;
    margin: 4px 0;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.bg-white {
    background: white;
    color: black;
}

.component-parent {
    padding: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.component-header {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.no-dec-link {
    text-decoration: none;
}

.expand-on-hover {
    transition: transform 0.2s ease;
}

.expand-on-hover:hover, .expand-on-hover:focus {
    transform: scale(1.03);
}
